@font-face {
  font-family: "PF Regal";

  src: url("../fonts/PFRegal.woff") format("woff");
}

@font-face {
  font-family: "Proxima Nova";
  font-weight: 700;

  src: url("../fonts/ProximaNova-Bold.woff") format("woff");
}

@font-face {
  font-family: "Proxima Nova";
  font-weight: 400;

  src: url("../fonts/ProximaNova-Regular.woff") format("woff");
}

@font-face {
  font-family: "Proxima Nova";
  font-weight: 600;

  src: url("../fonts/ProximaNova-Semibold.woff") format("woff");
}
